<h1>Use Mailsac as your email service provider</h1>
<h2>Get free email by pointing your domain's smtp to mailsac.com</h2>
<br />
<br />
<h3>Why would I use mailsac.com to host my email?</h3>
<p>If you have no privacy or security concerns and don't mind disposable mail, 
	well you can't beat free. Mailsac.com will host your email just like it hosts
	for Mailsac.com - as disposable email. There's minimal setup, too.</p>

<h3>How do I setup Mailsac.com to host my email?</h3>
<p>In your DNS MX settings, set the following (may differ slightly depending on your DNS host or your needs)</p>
<table class="table table-condensed">
<thead>
<tr>
	<th>Priority</th>
	<th>Host</th>
	<th>Points to</th>
</tr>
</thead>
<tbody>
<tr>
	<td>0</td>
	<td>@</td>
	<td>mailsac.com</td>
</tr>
<tr>
	<td>10</td>
	<td>@</td>
	<td>mailsac.com</td>
</tr>
</tbody>
</table>
<p>Now you have your own private Mailsac.</p>

<h3>How do I check my email after setting it up?</h3>
<p>Same as normal, except change the domain from <strong>mailsac.com</strong>
	to your domain.</p>

<h3>Why do you offer free email hosting?</h3>
<p>Why the heck not?</p>
