<script>
setTimeout(function(){
$(function(){
	$('button.sur_btn').click(function(){
		var val = $('#input').val();
		if(!val) return;

		$(this).parent().hide();
		
		ApiCall(
			'/survey/submit/<%= encodeURIComponent(inbox||"none") %>/'
			+ encodeURIComponent(val) 
		);
		
	});
});
},2000);
</script>


<div>
	<h4>
		Hey!
	</h4>
	<h5>What's a feature you want Mailsac to add?</h5>
	<textarea type="text" id="input" placeholder="Unicorns..."></textarea>
	<button class="btn skinny sur_btn">S E N D</button>
</div>


