if (!user || !user.adfree)
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- Mailsac large mobile -->
    ins.adsbygoogle(
        style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-4126378185994270"
        data-ad-slot="6419291408"
    )
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
