if (!user || !user.adfree)
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- Responsive mailsac -->
    ins.adsbygoogle(
         style="display:block"
         data-ad-client="ca-pub-4126378185994270"
         data-ad-slot="4327630202"
         data-ad-format="auto"
    )
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
