
<h1 class="skinny" style="font-size: 4em;">Mailsac</h1>
<h2>gives you unlimited free public email inboxes.</h2>
<br />
<p>If you're worried about junk mail, just send it to any address 
	<strong>@mailsac.com</strong>.</p>

<br />


<div class="row-fluid">
<div class="span6">
	<h3>how it works</h3>
	<p>
		<i class="icon-ok"></i>
		Make up an address <strong>@mailsac.com</strong> and start getting mail.</p>
	<p>
		<i class="icon-ok"></i>
		MailSac accepts every email sent to <strong>mailsac.com</strong>.</p>
	<p>
		<i class="icon-ok"></i>
		No sign up needed - any email address just works.</p>
	<p>
		<i class="icon-ok"></i>
		Messages are stored for 3 days.</p>
	<p>
		<i class="icon-ok"></i>
		RSS and JSON feeds for all inboxes.</p>
	<p>
		<i class="icon-ok"></i>
		You remain anonymous while receiving email and 
		keeping your personal and business inboxes clean.</p>
	<p>
		<i class="icon-ok"></i>
		If you 
		<a href="/domainsetup">point your domain here</a>, you can host 
		your domain's email at mailsac.com for free.</p>
</div>
<div class="span6">
	
	<h3>start right now,<br /><span class="skinny">without signing up</span></h3>
	
	<form class="inboxSearch form-search" action="/inbox">
		<div class="input-append">
		
			<input type="text" 
				class="search-query txtInbox"
				style="width:90px" placeholder="anything">
			
			<span class="add-on">@</span><input type="text" 
				style="width:90px" class="add-on domain"
				value="mailsac.com" />
				
			<br />
			<br />
			<button type="submit" class="btn btn-warning">GO TO INBOX
				<i class="icon-chevron-right icon-white"></i></button>
		</div>
		
	</form>
	
</div>
</div>

<br />

