extends layout

block content
    
    
    .row
        .col-sm-6.col-sm-offset-3
            h1.align-center Mailsac
            h2.align-center Disposable Anonymous Email
            p.align-center Email without signing up
            br
            br
            include choose-inbox
