/* SITE CSS*/
body {
	padding-right: 0px;
	padding-left: 0px;
}
.smaller{
	font-size: .8em !important;
}
.right{text-align:right}
.bold{font-weight:bold}
div#ajaxLoader{
	position: fixed;
	bottom: 0;
	right: 0;
}
div#notification_area{
	width: 200px;
	position: fixed;
	top: 60px;
	left: 10px;
}
div#notification_area div.alert{
	display: block;
	margin-bottom: 8px;
} 
.brand-logo{
	margin-top: -4px;
}
div#PrimaryNav ul.nav li a{
	display: inline-block;
}
div#PrimaryNav ul.nav li a:hover{
	background: #f0f0f0;
	color: #707070;
}
.input-error{
	background-color: yellow !important;
}
.skinny{
	font-weight: 100;
}
.mainsection{
	border:1px solid #eee;
	padding:2px;
	background:#fff;
}
.center{
	text-align: center;
}
.fb-like{
	display: inline-block!important;
}
.fb-append{
	margin-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: -10px;
	display: block;
	float:right;
}
.modal{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}
.modal .modal-header, #inbox-table td{
	word-wrap: break-word;
}
.inbox-row{
	text-align:left;
	display:block;
	cursor:pointer;
	padding: 3px 3px 0 3px;
	margin: 0;
	border-bottom: 1px solid #f5f5f5
}
.inbox-row:hover{
	background: #e5e5e5;
}
